
@media screen and (max-width: 479px) {
.wrapper {
	width: 200px;
}
.header{
	width: 200px;
	height: 200px;
}
.menu{
	width: 60px;
	height: 160px;
	margin: 10px 70px;
}
.main{
	float: none;
	width: 200px;
}
.content{
	width: 200px;
	height: 100px;
}
.side{
	width: 200px;
	height: 200px;
}
.side-top{
	margin: 20px 30px 10px;
}
.side-center{
	margin: 10px 30px 10px;
}
.side-bottom{
	margin: 10px 30px 20px;
}
.footer{
	width: 200px;
}
}
